name: Lean Action CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./playground

    steps:
      - uses: actions/checkout@v5
      - name: Lean Action
        uses: leanprover/lean-action@v1
